@layer components {
	button {
		@apply btn;
		@apply btn-outline btn-primary hover:bg-base-100;
	}

	footer {
		@apply footer;
	}

	input[type="text"],
	input[type="number"],
	input[type="email"],
	input[type="password"] {
		@apply input;
		@apply focus:ring-transparent focus:border-primary;
		@apply input-bordered;
	}

	input[type="checkbox"] {
		@apply checkbox-xs rounded-sm checkbox-primary;
	}

	input[type="radio"] {
		@apply radio-xs radio-primary;
	}

	label {
		@apply label;
	}

	select {
		@apply select select-bordered outline-none focus:ring-transparent focus:border-primary;
	}
}
